.container {
  /* position: relative; */
  width: 50%;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}
.p {
  /* position: absolute; */
  top: 0;
  bottom: o;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-image: url("https://cdn.shopify.com/s/files/1/0026/0400/7539/products/3_2_dc07f2a7-6ee7-4b36-856b-0684866c10e2.png?v=1617537410") ;
}
.container:hover .p {
  opacity: 1;
}
.text1 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.text{
  width:235px;
  height:100%;
  /* background:rgba(5, 5, 5, 0.664); */
  opacity:0;
}
.text2{
  width: 100%;;
  height:100%;
  /* background:rgba(5, 5, 5, 0.664); */
  opacity:0;
}
/* .pic{
  margin-bottom: 20px
} */
.pic:hover .text
{
  opacity:1;
  text-align:center;
  color:#bbafaf;
  /* font-size:20px; */
  font-weight:700;
  font-family:"Times New Roman", Times, serif;
  /* padding:30px; */
  width: 100%;
  height: 100%;
}
.pic:hover .text2
{
  
  opacity:1;
  text-align:center;
  color:#bbafaf;
  /* font-size:20px; */
  font-weight:700;
  font-family:"Times New Roman", Times, serif;
  /* padding:30px; */
  width: 100%;
  height: 100%;
}

.overlay2 {
  bottom: 0; 
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;  
  font-size: 20px;
  margin-bottom: -40px; 
  text-align: end;

}

.container:hover .overlay2 {
  opacity: 1;
  background-color: white;

}